@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@500&family=Unkempt&display=swap');


body {
    background-image: url('./pictures/background5.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Unkempt;
}

.home-page {
    text-align: center;
}
 .memorio-heading{
  margin-top: 33.75rem; /* Converted from 300px */
  width: 53.3125rem; /* Converted from 853px */
  height: 7.4375rem; /* Converted from 119px */
  position: relative;
  color: black;
  font-size: 6.25rem; /* Converted from 100px */
  font-family: Unkempt;
  font-weight: 400;
  word-wrap: break-word;
}

.planet-img {
  width: 4.5625rem; /* Converted from 73px */
  height: 4.5625rem; /* Converted from 73px */
  position: absolute;
  top: 13%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-image: url('./pictures/planet.png');
  background-size: cover;
}

.play-button {
  width: 21.3125rem; /* Converted from 341px */
  height: 6.625rem; /* Converted from 106px */
  margin-top: 1.875rem; /* Converted from 30px */
  background-color: #f5cc5b;
  color: #fff;
  padding: 0.625rem 1.25rem; /* Converted from 10px 20px */
  border-radius: 1.25rem; /* Converted from 20px */
  cursor: pointer;
  border: none;
  font-size: 3.125rem; /* Converted from 50px */
  font-weight: 400;
  line-height: 6.625rem; /* Converted from 106px */
  color: #f4f0ff;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;
  box-shadow: 0px 3.125rem 6.25rem -1.25rem rgba(50, 50, 93, 0.25),
              0px 1.875rem 3.75rem -1.875rem rgba(0, 0, 0, 0.3),
              0px -0.125rem 0.375rem 0rem rgba(10, 37, 64, 0.35) inset;
}


.play-button:hover {
  background-color: #f7b705;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }


.username-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.55rem;
  margin-bottom: 1rem;

}
/* username input css changes*/
.username-input h2 {
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.username-input input {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3125rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  background-color: rgba(145, 107, 1, 0.6);
  border: 1px solid #ccc;}


.username-input button {
  background-color: #f5cc5b;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;  /* changes size */
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 0.1rem;
}

.username-input button:hover {
  background-color: #f7b705;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .rules {
    margin-top: 2.75rem; /* Converted from 60px */
    margin-bottom: 3.125rem; /* Converted from 50px */
    max-width: 50rem; /* Converted from 800px */
    padding: 1.25rem; /* Converted from 20px */
    background-color: rgba(145, 107, 1, 0.6);
    font-size: 1.875rem; /* Converted from 30px */
    font-weight: 400;
    line-height: 2.5rem; /* Converted from 40px */
    color: black;
    text-align: middle;
    border-radius: 1.25rem; /* Converted from 20px */
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.rules ul {
  text-align: left;
  padding-left: 1.25rem;
}

.rules li {
  font-size: 1.875rem; /* Converted from 30px */
  list-style-type: disc;
  margin-bottom: 0.625rem; /* Converted from 10px */
}

.rules:hover {
    transform: scale(1.1);
}


    .lobby-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .logo {
        position: absolute;
        top: 0.625rem;
        left: 1.25rem;
        width: 3.75rem;
        height: 3.75rem;
        background-image: url('./pictures/planet.png');
        background-size: cover;
    }


    .home-button {
      position: absolute;
      top: 1.875rem;
      right: 3.75rem;
      background-color: none;
      color: #000000;
      padding: 0;
      border: none;
      cursor: pointer;
      border-radius: 1.25rem;
      font-size: 1.5rem;
      width: 2.5rem;
      height: 2.5rem;
  }


  .lobby-heading {
    font-size: 3.85rem;
    font-weight: bold;
    position: absolute;
    top: 0.75rem;
    color: black;
}

.send-link {
  font-size: 1.875rem; /* Converted from 30px */
  color: black;
  position: absolute;
  top: 5.25rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.players-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7.5rem; /* Converted from 120px */
}

.player1,
.player2 {
  background-color: rgba(145, 107, 1, 0.6);
  color: #fff;
  width: 25rem; /* Converted from 400px */
  height: 12.5rem; /* Converted from 200px */
  margin: 0 5rem; /* Converted from 0px 80px */
  border-radius: 5.125rem; /* Converted from 50px */
  display: inline-block;
  font-size: 1.8rem;
}

.start-game-button {
  background-color: #f5cc5b;
  color: #fff;
  padding: 1.875rem 4.375rem; /* Converted from 30px 70px */
  font-size: 1.125rem; /* Converted from 18px */
  border-radius: 0.9375rem; /* Converted from 15px */
  border: none;
  cursor: pointer;
  margin-top: 6.25rem; /* Converted from 100px */
  transition: background-color 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0rem 3.125rem 6.25rem -1.25rem, rgba(0, 0, 0, 0.3) 0rem 1.875rem 3.75rem -1.875rem, rgba(10, 37, 64, 0.35) 0rem -0.125rem 0.375rem 0rem inset;
}

.video-container {
  height: 100%;
  width: 100%;
  min-height: 225px;
 }

.start-game-button:hover {
  background-color: #f7b705;
  box-shadow: 0.625rem 3.125rem 6.25rem -1.25rem rgba(50, 50, 93, 0.25), 0 1.875rem 3.75rem -1.875rem rgba(0, 0, 0, 0.3), 0 -0.125rem 0.375rem 0 rgba(10, 37, 64, 0.35);
}


      .player-id {
        color: #555;
        font-size: 1.125rem; 
      }
      
      .points {
        color: #777;
        font-size: 1rem; 
        margin-top: 0.625rem; 
      }
      
      .results-title {
        font-size: 3.75rem;
        font-weight: bold;
        margin-top: 3.75rem;
        color: black;
      }
      
      .container {
        text-align: center;
      }
      
      .player-win-text {
        font-size: 2.188rem;
        color: black;
        margin-top: 7.5rem;
      }
      
      .player-box {
        background: #fff;
        border: 2px solid #333;
        border-radius: 8px;
        padding: 1.25rem; 
        margin: 2.5rem;
        box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1); /* 4px 8px converted to rem */
        width: 12.5rem; 
      }
      
      .player-win-box {
        background-color: #8aff8a;
        display: inline-block;
      }
      
      .player-lose-box {
        background-color: #ff8a8a;
        display: inline-block;
      }
      
      .result {
        color: #000000;
        font-size: 1.125rem; 
        margin: 0;
      }
      
      .points {
        color: #000000;
        font-size: 1rem; 
        margin-top: 0.625rem; 
      }
      
      
      results-button {
        font-family: Unkempt ;
        background-color: #5bde77;
          color: #fff;
          padding: 1.875rem 4.375rem;
          font-size: 1.125rem;
          border-radius: 0.625rem;
          border: none;
          cursor: pointer;
          margin-top: 6.25rem;
          transition: background-color 0.3s;
          box-shadow: rgba(50, 50, 93, 0.25) 0rem 3.125rem 6.25rem -1.25rem, rgba(0, 0, 0, 0.3) 0rem 1.875rem 3.75rem -1.875rem, rgba(10, 37, 64, 0.35) 0rem -0.125rem 0.375rem 0rem;
      }
      
      
      results-button:hover {
          background-color: #66e381;
          box-shadow: 0.625rem 3.125rem 6.25rem -1.25rem rgba(50, 50, 93, 0.25), 0 1.875rem 3.75rem -1.875rem rgba(0, 0, 0, 0.3), 0 -0.125rem 0.375rem 0 rgba(10, 37, 64, 0.35);
      }
      

      .title {
        font-size: 3.75rem;
        font-weight: bold;
        margin-top: 3.75rem;
        color: black;
      }

      .card {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: auto;
      }