@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@500&family=Unkempt&display=swap');

body {
    background-image: url('./pictures/background5.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Unkempt;
}

.home-page {
    text-align: center;
}

.memorio-heading{
    margin-top: 300px;
    width: 853px; 
    height: 119px; 
    position: relative;
    color: black; 
    font-size: 100px; 
    font-family: Unkempt; 
    font-weight: 400; 
    word-wrap: break-word;
}


.planet-img{
    width: 73px; 
    height: 73px; 
    left: 470px; 
    top: 100px; 
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-image: url('./pictures/planet.png');
    background-size: cover;
}

.play-button {
    width: 341px;
    height: 106px;
    margin-top: 30px;
    background-color: #f5cc5b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-size: 50px;
    font-weight: 400;
    line-height: 106px;
    color: #f4f0ff;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.play-button:hover {
  background-color: #f7b705;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }


  .rules {
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(145, 107, 1, 0.6);
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: black;
    text-align: middle;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.rules ul {
  text-align: left; 
  padding-left: 20px;
}

.rules li {
    font-size: 30px;
    list-style-type: disc;
    margin-bottom: 10px;
}

.rules:hover { 
    transform: scale(1.1); 
}


    .lobby-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
      }
      
      .logo {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 60px;
        height: 60px;
        background-image: url('./pictures/planet.png');
        background-size: cover;
      }
      
      .home-button {
        position: absolute;
        top: 30px;
        right: 60px;
        background-color: none;
        color:#000000;
        padding:0;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        font-size: 24px;
        width: 40px;
        height: 40px;
      }
      
      .lobby-heading {
        font-size: 60px;
        font-weight: bold;
        position: absolute;
        top:60px;
        color: black;
      }
      
      .send-link {
          font-size: 35px;
          color: black;
          position: absolute;
          top: 25px;
          text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
      }


      .players-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
    }

      .player1,
      .player2 {
          background-color: rgba(145, 107, 1, 0.6);
          color: #fff;
          width: 400px;
          height: 200px;
          margin: 0px 80px;
          border-radius: 50px;
          display: inline-block;
          font-size: 20px;
      }

      .start-game-button {
        background-color:  #f5cc5b;;
        color: #fff;
        padding: 30px 70px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin-top: 100px;
        transition: background-color 0.3s;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }
    
      .start-game-button:hover {
        background-color: #f7b705;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }

    /*** QuestionPage ***/

    .question-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 60vh;
      font-family: Unkempt;
      color: black;
    }

    .question-card-border {
      border: 2px solid #f5cc5b;
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .logo img {
      width: 100px;
      height: 100px;
    }

    .title {
      font-size: 24px;
    }

    .image-container img {
      width: 200px;
      height: 200px;
    }

/* AnswerPage.css */

.answer-page {
  display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   text-align: center;
}

.answer-page-border {
  border: 2px solid #f5cc5b;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.answer-page .logo img {
  width: 100px;
  height: 100px;
}

.answer-page .question h2 {
  font-size: 24px;
}

